<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy -MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>  <!--  добавляем при необходимости например данный озночает для консоли -->

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/rail/IdeaProjects/SkillSpace_Enterprise/2Git_SQL_DataBase/OnlineShop/OnlineShop.log"/><!-- имя файла так же если прописать весь путь то он туда и запишет-->

        <param name="append" value="true"/><!-- значит при следующей записи будет записывать ту да же а не в новый файл-->
        <param name="maxFileSize" value="10MB"/><!-- размер памяти файла, при достижении этого размера будет создаватся новый файл и писать в него-->
        <param name="maxBackupIndex" value="10"/><!-- указывает скок файлов будем таких создавать при достижении 10 будет переписыват 1й файл и в нем будет стиратся инфа что бы записать в нее -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy -MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ALL"/>
        </filter>
    </appender><!--  добавляем при необходимости например данный озночает для файла -->

    <root>
        <level value="debug"/> <!-- уровень логгирования -->
        <appender-ref ref="console"/>  <!--  означает вывести логи на консоль -->

        <appender-ref ref="file"/>  <!--  означает добавить лог в файл -->
    </root>

</log4j:configuration>